html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: white;
  }
}
.item-background{
  background: #FFFFFF;
  border-radius: 40px;
  display: flex;
  padding: 27px 30px;
  lex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.secontContainer{
  display: flex;
  align-items: center;
}
.firstContainer{
  display: flex;
  align-items: center;
}
.firstContainer .col-lg-6{
  padding-left: 10px;
}
.color-price{
  color: black;
}
.container-price{
  padding: 20px 10px;
  background: #FCFCFC;
  border-radius: 40px;
}
.container-product{
  padding: 30px;
}
.container-with-product{
  background: rgba(73, 59, 236, 0.4);
  border-radius: 40px;
}
.container-product > hr {
  background: white;
}
.container-product .row {
  margin-top: 10px;
}
.walet-container .row{
  justify-content: space-between;
}
.container-product > button{
  background: #FFFFFF;
  border-radius: 40px;
  color: #B6B1F7 !important;
}
.container-product .name-product{
  display: flex;
  justify-content: flex-start;
  position: relative;
}
.img-container{
  width: 45px;
  height: 45px;
  position: absolute;
  right: 30px;
  bottom: 5px;
}
.selector-container > div > div > div > div > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.firstContainer {
  width: 30%;
}
.send-mile-container > div {
  width: 40%;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-bottom: 0px;
}
.send-mile-container > div {
  display: flex;
  align-items: center;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
